{% extends 'base/template.html' %}
{% block title %}
  News
{% endblock %}
{% block my_content %}
  <h1>Delete User</h1>
  {% if redactor.photo %}
    <img class="redactor-img" src="{{ redactor.photo.url }}" alt="" />
  {% endif %}
  <h3>{{ redactor.username }}</h3>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a href="{% url 'accounts:redactor-detail' pk=redactor.id %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
