.newspaper-img{
    display: block;
    width: 100%;
    height: auto;
}

.redactor-img{
    border-radius: 50%;
    width: 128px;
    height: 128px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #ccc;
}

.form-select{
    width: 150px;
    margin-right: 10px;
}
